*{
    margin: 0;
    padding: 0;
}
/*헤더부분 시작*/
header{
    background-color: white;
    border: 2px solid;
    height: 70px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    color: rgb(171, 167, 167);
    padding: 15px
}
nav a:hover{
    color: rgb(108, 108, 108);
    background-color: lightgray;
}
.logo{
    margin-left: 30px;
}
.logo img{
    width: 60px;
}


/*메인부분 시작*/
main{
    background-image: url(./images/BlueBotle_Coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

h2{
    position: relative;
    top: 300px;
    left: 45px;
    font-size: 1em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ment{
    position: relative;
    top: 295px;
    left: 45px;
    font-size: 3em;
    text-shadow: 2px 3px 5px black;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    position: relative;
    top: 300px;
    left: 45px;
    background-color: rgb(3, 110, 240);
    cursor: pointer;
    padding: 5px 24px;
    color: whitesmoke;
    border: 0;
    font-weight: 400;
}

footer{
    color: gray;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 14px; /*폰ㅌ어썸 아이콘 같이 조절*/
    padding: 10px 50px;
}

